html{
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "koHo", sans-serif; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html.dark .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root{
  color: #fff;
}

html.dark .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root, html.dark .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon{
  color: #fff;
}

html.dark .css-1ptx2yq-MuiInputBase-root-MuiInput-root::before, html.dark .css-a3l6o-MuiInputBase-root-MuiInput-root-MuiSelect-root::before{
  border-color: #fff;
}

html.dark .css-1ptx2yq-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled)::before, html.dark .css-a3l6o-MuiInputBase-root-MuiInput-root-MuiSelect-root:hover:not(.Mui-disabled)::before{
  border-color: #FFA900;
}

html.dark .css-6hp17o-MuiList-root-MuiMenu-list{
  background-color: #262626;
  color: #fff;
}

html.dark .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
  transition: all 0.3s ease-in-out;
}
html.dark .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover{
  background-color: #181818;
}

html.dark .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover{
  background-color: rgba(25, 118, 210, 0.08);
}

.css-ahj2mt-MuiTypography-root{
  font-family: "koHo", sans-serif; 
}

/* Socials */
.social-floating-button{
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

.social-floating-button:hover{
  width: 60px;
}